.wrapper {
  padding: 1rem;
}

.filters-wrapper {
  min-width: 200px;
  max-width: 600px;
  height: fit-content;
}

.filter-category {
  font-size: 1.125rem;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}

.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 2rem;
  margin-bottom: 24px;
}

.filter-item {
  background-color: #c5e09b;
  font-size: 1.125rem;
  text-align: center;
  margin: auto;
  padding: 5px 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.filter-item-active {
  background-color: #7db900;
}

.launches-container {
  width: 100%;
  padding: 16px 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: fit-content;
}

@media (min-width: 700px) {
  .launches-container {
    width: initial;
    padding: 0 16px;
  }
}

.launch-item {
  padding: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.launch-item > div {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

div.launch-logo {
  display: block;
  text-align: center;
  background-color: #f1f1f1;
}

.mission-title {
  font-weight: bold;
  color: #3f498d;
  font-size: large;
}

.mission-list {
  margin: 0;
  padding-inline-start: 1rem;
}

@media (min-width: 700px) {
  .launches-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .launches-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.responsive {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .responsive {
    flex-direction: row;
  }
}

.active.filter-item {
  background-color: #7db900;
}

.lg-text {
  font-size: large;
}

.md-text {
  font-size: medium;
}

.sm-text {
  font-size: small;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #f1f1f1;
}

.bold-text {
  font-weight: bold;
}

.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3f498d;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  width: 80%;
  max-width: 400px;
  margin: 1rem auto;
}

footer {
  padding: 16px;
  font-size: 1.25rem;
  text-align: center;
}
